/*NULL*/
h1,h2,h3,p{margin: 0;}
/*NULL*/

.wrapper{
    max-width: 670px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #46b1de;
    margin-bottom: 15px;
}
.article{
    background-color: olivedrab;
}
.article__title{
    margin-bottom: 10px;
}
.article__title h2{
    text-align: center;
}
.title_block{
    border: 5px solid black;
    margin: 0 10px;
    padding: 5px;
}
.title_state{
    font-size: 20px;
}
.article__actions{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.article__btn{
    background-color: orange;
    font-weight: bold;
    border: none;
    padding: 3px 12px;
    border-radius: 5px;
}
.article__autor{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 5px 0;
}
.autor__text{
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}